## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [5]:
cd ..

/Users/cristinacodispoti/Desktop/Bootcamp/World_Weather_Analysis

In [6]:
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Clyde River,CA,70.4692,-68.5914,-7.37,84,100,28.77,snow
1,1,Majenang,ID,-7.2975,108.7642,76.91,93,100,0.74,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,75.76,90,100,3.94,overcast clouds
3,3,Bethel,US,41.3712,-73.4140,23.56,51,0,9.22,clear sky
4,4,Valley,US,45.1277,-116.1262,24.60,74,17,1.36,few clouds

In [8]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Majenang,ID,-7.2975,108.7642,76.91,93,100,0.74,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,75.76,90,100,3.94,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,87.96,74,20,6.91,few clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,73,0,13.80,clear sky
8,8,Samarai,PG,-10.6167,150.6667,84.96,71,100,4.25,overcast clouds
11,11,Bintulu,MY,3.1667,113.0333,75.61,94,40,0.00,light rain
16,16,Ha Tinh,VN,18.3333,105.9000,68.61,94,43,2.08,scattered clouds
18,18,Sur,OM,22.5667,59.5289,66.60,52,5,2.75,clear sky
19,19,Souillac,MU,-20.5167,57.5167,71.37,83,20,3.44,light rain
21,21,Tubuala,PA,9.5167,-79.0333,84.31,82,98,13.11,overcast clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                341
City                   341
Country                334
Lat                    341
Lng                    341
Max Temp               341
Humidity               341
Cloudiness             341
Wind Speed             341
Current Description    341
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Majenang,ID,-7.2975,108.7642,76.91,93,100,0.74,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,75.76,90,100,3.94,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,87.96,74,20,6.91,few clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,73,0,13.80,clear sky
8,8,Samarai,PG,-10.6167,150.6667,84.96,71,100,4.25,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
699,699,Moindou,NC,-21.6924,165.6770,84.15,65,40,8.72,scattered clouds
700,700,Sorong,ID,-0.8833,131.2500,82.81,76,100,8.25,overcast clouds
701,701,Thongwa,MM,16.7619,96.5278,69.96,64,2,5.44,clear sky
703,703,Ilhabela,BR,-23.7781,-45.3581,77.70,88,26,6.20,scattered clouds
704,704,Ugoofaaru,MV,5.6667,73.0000,78.94,62,94,9.28,overcast clouds

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Clyde River,CA,-7.37,snow,70.4692,-68.5914,
1,Majenang,ID,76.91,overcast clouds,-7.2975,108.7642,
2,Bengkulu,ID,75.76,overcast clouds,-3.8004,102.2655,
3,Bethel,US,23.56,clear sky,41.3712,-73.4140,
4,Valley,US,24.60,few clouds,45.1277,-116.1262,
5,Bud,US,20.86,clear sky,39.4470,-86.1758,
6,Vaini,TO,87.96,few clouds,-21.2000,-175.2000,
7,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,
8,Samarai,PG,84.96,overcast clouds,-10.6167,150.6667,
9,Ponta Do Sol,PT,60.71,broken clouds,32.6667,-17.1000,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
        lat= row["Lat"]
        lng= row["Lng"]
        params["location"]=f"{lat},{lng}"
#     lat= hotel_df["results"][0]["geometry"]["location"]["lat"]
#     lng= hotel_df["results"][0]["geometry"]["location"]["lng"]

#     lat = row["Lat"]
#     lng = row["Lng"]
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
        response = requests.get(base_url, params=params)

        hotel_option = response.json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotel_option["results"][0]["name"]
            #print(hotel_option["results"][0]["vicinity"])    
        except (IndexError):
            print("Missing field/result... skipping.")
    #pass

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [43]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Clyde River,CA,-7.37,snow,70.4692,-68.5914,Qamaq Hotel
1,Majenang,ID,76.91,overcast clouds,-7.2975,108.7642,Strum Aki Majenang
2,Bengkulu,ID,75.76,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,Bethel,US,23.56,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
4,Valley,US,24.60,few clouds,45.1277,-116.1262,Ungoofaaru Inn
...,...,...,...,...,...,...,...
700,Sorong,ID,82.81,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
701,Thongwa,MM,69.96,clear sky,16.7619,96.5278,Mhaw Wun Marlar Park
702,Kamsack,CA,20.84,overcast clouds,51.5667,-101.9009,Liquor Store Kamsack & Woodlander Hotel
703,Ilhabela,BR,77.70,scattered clouds,-23.7781,-45.3581,Ilha Flat Hotel
704,Ugoofaaru,MV,78.94,overcast clouds,5.6667,73.0000,Ungoofaaru Inn

In [44]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   705
Country                698
Max Temp               705
Current Description    705
Lat                    705
Lng                    705
Hotel Name             705
dtype: int64

In [45]:
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Clyde River,CA,-7.37,snow,70.4692,-68.5914,Qamaq Hotel
1,Majenang,ID,76.91,overcast clouds,-7.2975,108.7642,Strum Aki Majenang
2,Bengkulu,ID,75.76,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
3,Bethel,US,23.56,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
4,Valley,US,24.60,few clouds,45.1277,-116.1262,Ungoofaaru Inn
...,...,...,...,...,...,...,...
700,Sorong,ID,82.81,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
701,Thongwa,MM,69.96,clear sky,16.7619,96.5278,Mhaw Wun Marlar Park
702,Kamsack,CA,20.84,overcast clouds,51.5667,-101.9009,Liquor Store Kamsack & Woodlander Hotel
703,Ilhabela,BR,77.70,scattered clouds,-23.7781,-45.3581,Ilha Flat Hotel
704,Ugoofaaru,MV,78.94,overcast clouds,5.6667,73.0000,Ungoofaaru Inn

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 11b. Display the figure
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))